.fw-dialog-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  cursor: pointer;
  overflow: scroll;
}

.fw-dialog-container.fullscreen {
  background-color: var(--background-color);
  cursor: auto;
  max-height: 100vh;
}

.fw-dialog-wrapper {
  max-width: 500px;
  max-height: 560px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: var(--border-radius-l);
  overflow: scroll;
  cursor: auto;
}

.fw-dialog-wrapper.fullscreen {
  max-width: 1100px;
  max-height: none;
  height: 100%;
  overflow: hidden;
  padding: 60px 0;
}

.fw-dialog-close {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .fw-dialog-container {
    padding: 30px 20px;
  }
}
