.fw-dialog-container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
}

.fw-dialog-container.fullscreen {
  background-color: var(--background-color);
  cursor: auto;
  /* max-height: 100vh; */
}

.fw-dialog-wrapper {
  max-width: 800px;
  /* max-height: 560px; */
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: var(--border-radius-l);
  overflow: scroll;
  cursor: auto;
}

.fw-dialog-wrapper.fullscreen {
  max-width: 1400px;
  max-height: none;
  overflow: scroll;
  padding: 60px 30px;
}

.fw-dialog-close {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.fw-dialog-title {
  font-size: 18px;
  padding-top: 10px;
  text-align: start;
  font-weight: 700;
}

.fw-dialog-subtitle {
  font-size: 12px;
  text-align: start;
  font-weight: normal;
  color: #a3a3a3;
}

@media (max-width: 768px) {
  .fw-dialog-container {
    padding: 30px 20px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .fw-dialog-close {
    top: 20px;
    right: 20px;
  }
  .fw-dialog-wrapper {
    margin-bottom: 50px;
    padding-bottom: 150px !important;
    padding: 20px;
    gap: 15px;
  }
}
