.fw-input-value-list {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  margin-top: 6px;
}

.fw-input-value {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 8px 10px;
  border-radius: var(--border-radius-m);
  background-color: var(--primary-color);
  color: #fff;
}

.fw-input-value p {
  font-size: 11px;
}
