.fw-input-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.fw-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-text-color);
  padding: 0 16px;
  /* border-radius: 12px; */
  border-radius: var(--border-radius-l);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  background-color: #fff;
}

.fw-input-wrapper p {
  font-size: 1rem;
}

.fw-input-field-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fw-prefix-suffix-wrapper {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  padding: 0 8px;
}

.fw-input {
  width: 100%;
  padding: 16px 0px;
  font-size: 1rem;
  border: none;
  outline: none;
  flex-grow: 1;
  background-color: transparent;
  color: var(--primary-text-color);
}

.fw-input::placeholder {
  font-size: 0.875rem;
  font-weight: 300;
}
