.fw-input-group-container {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-m);
  height: min-content;
  position: relative;
}

.fw-input-group-wrapper:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.fw-comment-button {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 5;
}
