.fw-model-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .fw-model-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
