.fw-results-list-table {
  width: 100%;
  border-collapse: collapse;
}

.fw-results-list-table-row__header th,
.fw-results-list-table-row__data td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
